.education {
  border: 2px solid DarkCyan; 
  border-radius: 25px;  
  width: 800px;
  margin: 30px;
  padding: 20px;
  text-align: left;
}

.title {
  text-align: center
}

.experience {
  border-bottom: solid;
  text-align: left;
}

.card-css{
  margin: 30px;
  padding: 20px;
  display: grid;  
	grid-template-columns:33% 33% 33%;
}

.card-header{
  background: LightGray;
  border-radius: 25px;  
  align-items: left;
  column-gap: 1em;
}

.temp{
  border: 0.5px solid DarkCyan; 
  border-radius: 25px;  
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.card-text{
  padding: 5px;
}